/* folha de estilos de CSS3 */
.container {
    display: flex;
}

.container div{
    width: 400px;
    height: 600px;
    box-shadow: inset 0 0 1px black;
}

.espaco-1 {
    background: linear-gradient(to left top, blue, yellow, green);
}

.espaco-2 {
    background: linear-gradient(red 0 30%, yellow 70% 100%)
}

.espaco-3 {

}